// scss/_variables.scss

$font-main: 'Roboto', sans-serif;

$color-body-bg: #f5f6fa;
$color-header-bg: #182C61;

$color-text-light: #ffffff;

$color-button-bg: #44bd32;
$color-button-bg-hover: #4cd137;

$max-width-container: 1024px;

$spacing-section: 56px;

$radius-card: 16px;
$radius-button: 8px;

$bp-tablet: 1023px;
$bp-mobile: 767px;
