* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @fontFamily;
}

body {
    background-color: @backgroundColor;
}

li {
    list-style: none;
}

.container {
    max-width: @containerMax;
    width: 100%;
    margin: 0 auto;
}
