@fontFamily: "Roboto", sans-serif;
@backgroundColor: #f5f6fa;

@headerColor: #182C61;
@buttonColor: #44bd32;
@buttonHover: #4cd137;

@containerMax: 1024px;
@radius: 8px;
@productRadius: 16px;
